/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url(http://fonts.gstatic.com/s/fjallaone/v4/rxxXUYj4oZ6Q5oDJFtEd6r3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(http://fonts.gstatic.com/s/lobster/v9/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(http://fonts.gstatic.com/s/oxygen/v4/AwBqWF2kjhlybWamaKMPcbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}





@mixin body-font-regular {
    font-family: 'Oxygen', Lato, serif;
    font-style: normal;
    font-weight: 300; 
}

@mixin body-font-bold {
    font-family: 'Oxygen', Lato, serif;
    font-style: normal;
    font-weight: 700;  
}

@mixin headline-font {
    font-family: 'Lobster', Lobster Two, sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin header-font {
    font-family: 'Fjalla One', Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
}

// Site Variables
$background-color: #e6e3e3;
$color: #666666;
$color-title: #ff9966;